* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  list-style: none;
}
a {
  font-size: 14px;
  text-decoration: none;
  color: rgba(3, 44, 91, 0.4);
}

a:hover {
  color: rgba(3, 44, 91, 0.8);
}

.enlaces i {
  padding: 0px 4px;
}

.popup {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  gap: 24px;

  position: absolute;
  width: 450px;
  height: 120px;

  right: 0%;
  bottom: 0%;

  background: #ffffff;
  box-shadow: 2px 2px 18px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  transform: translateX(170px) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s ease-out;
}

.open-popup {
  visibility: visible;
  right: 2%;
  bottom: 10%;
  transform: translateX(0) scale(1);
}

.popup .avatar {
  width: 82px;
}
.popup button {
  width: 20px;
  height: 20px;
  border: 0px;
  background-color: #fff;
  position: absolute;
  top: 16px;
  right: 24px;
  cursor: pointer;
}

.popup div:nth-child(1) {
  height: 24px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.popup p {
  line-height: 150%;
  /* or 24px */

  letter-spacing: 0.15px;
}
.popup div:nth-child(1) p {
  color: #9e9e9e;
}

body {
  background-image: url(../assets/Nazca.svg);
}

/* HEADER */
.container {
  max-width: 100%;
  margin: auto;
}

header {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: none;
  padding: 40px 40px;
}

header a {
  font-weight: 500;
  font-size: 16px;

  color: rgba(2, 58, 255, 1);
  cursor: pointer;
}
header a:hover {
  color: rgb(0, 0, 0);
}

/* FIN HEADER */

/* INICIO MAIN */
main {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

main .mobil {
  width: 100%;
  display: flex;
  padding: 42px 24px;
}
main .mobil img {
  width: 100%;
  max-width: 353px;
  margin: auto;
}

main .content {
  width: 100%;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main .content .logo {
  height: 40px;
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

main .content .logo img {
  height: 100%;
}

main .content .text {
  font-size: 20px;
  max-width: 360px;
  text-align: center;
}

main .content .shops {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}

main .content .shops .tiendas {
  color: white;
}

main .content .shops .apple {
  border-radius: 10px;
}

main .content .shops .android {
  display: none;
}

main .content .shops .tiendas:hover {
  color: white;
  opacity: 70%;
}

main .content .certificados {
  margin-top: 24px;
  display: none;
}

main .content .certificados img {
  width: 100%;

  padding: 12px;
  border-radius: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 24px;
}

footer .enlaces {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  gap: 24px;
}
.fa-solid {
  display: none;
}

footer .derechos {
  display: none;
  font-size: 14px;
  color: rgba(3, 44, 91, 0.4);
}

footer .social-media {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 320px;
  margin-bottom: 32px;
  font-size: 24px;
}
footer .social-media a {
  font-size: 18px;
}

@media screen and (min-width: 632px) {
  footer .enlaces {
    flex-direction: row;
  }
  main .content .text {
    font-size: 24px;
  }
}
@media screen and (min-width: 1125px) {
  .fa-solid {
    display: inline-block;
    margin-left: 4px;
  }
  main .content .text {
    max-width: 100%;
    font-size: 22px;
  }
  .popup {
    display: flex;
  }

  main {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 56px 72px;
  }
  main .content {
    justify-content: center;
  }
  main .mobil img {
    width: 100%;
    max-width: 320px;
    margin: 0;
    padding: 0;
  }
  main .mobil {
    padding: 0;
  }

  header {
    display: flex;
  }
  .ingreso-footer {
    display: none;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px 40px;
  }
  footer .derechos {
    display: flex;
  }
  footer .social-media {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 280px;
    margin-bottom: 0px;
    font-size: 18px;
  }

  footer .enlaces {
    margin-bottom: 0px;
  }
  main .content .shops {
    gap: 42px;
    margin-bottom: 0px;
  }
  main .content .shops .tiendas {
    color: white;
  }
  main .content .shops .apple {
    display: flex;
  }
  main .content .shops .android {
    display: flex;
  }
  main .content .logo {
    margin-top: 0;
    height: 52px;
  }
  main .content .certificados {
    display: flex;
    width: 100%;
    gap: 32px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-height: 820px) {
  main .mobil img {
    width: 100%;
    max-width: 270px;
    margin-bottom: 32px;
  }
  main {
    padding: 0px;
  }
}

@media screen and (max-height: 700px) {
  footer {
    position: static;
  }
}
