* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(../asets/Nazca.svg);
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: space-between; */
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 64px 64px 0px 64px;
  width: 100%;
  max-width: 1900px;
}

header a {
  text-decoration: none;
  text-align: end;
  /* background-color: rgb(0, 234, 255); */
  color: rgba(2, 58, 255, 1);
}

main {
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1260px;
  align-items: center;
  padding: 24px 64px;
}
.mobil {
  /* background-color: aquamarine; */
  width: 100%;
  max-width: 320px;
  /* height: 620px; */
  display: flex;
  justify-content: center;
}

.mobil img {
  height: 100%;
  width: 100%;
}

.contenido {
  padding: 24px;
  /* background-color: rgb(72, 144, 120); */
  width: 100%;
  max-width: 538px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.certificaciones {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  gap: 57.39px;
  list-style: none;
  /* background-color: red; */

  width: 100%;
  height: 100%;
}

.contenido div:nth-child(1) {
  /* background-color: red; */
  height: 54px;
}

.logotipo img {
  height: 42px;
}

.certificaciones li img {
  width: 100%;
  height: 100%;
}

.contenido h2 {
  /* background-color: bisque; */
  text-align: center;
  width: 100%;
  max-width: 538px;
  font-size: 36px;
  font-weight: 500;
}

.botones-tiendas {
  height: 54px;
  width: 100%;
  max-width: 366px;
  /* background-color: black; */
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
}

.botones-tiendas a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  padding: 6px 16px 4px;
  gap: 10px;

  background: #000000;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.botones-tiendas h6 {
  font-weight: 400;
}
.botones-tiendas h3 {
  font-weight: 400;
}

/* FOOOTER */

footer {
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  padding: 16px 64px;
  gap: 10px;

  position: absolute;
  width: 100%;
  height: 56px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  color: rgba(3, 44, 91, 0.35);
}

footer ul {
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  list-style: none;
  width: 524px;
}

footer a {
  text-decoration: none;
  color: rgba(3, 44, 91, 0.35);
}

footer a:hover {
  color: rgba(3, 44, 91, 0.695);
}

footer p {
  font-size: 16px;
}
.social-media {
  width: 248px;
  gap: 12px;
}
